﻿@model WebApplication1.ViewModels.CreateBlogModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Header"]</h2>

<form asp-action="Create" asp-controller="Blog" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Name">@Localizer["InputName"]</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <input type="submit" value="@Localizer["Create"]" />
        </div>
    </div>
</form>