﻿@model IEnumerable<WebApplication1.ViewModels.ViewBlogsModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}

<h2>@Localizer["Header"]</h2>

<p>
    <a asp-action="Create">@Localizer["CrNew"]</a>
</p>

<form id="SearchForm" asp-action="Get" asp-controller="APISearch" method="get" name="form" onsubmit="return false;">
    <p>
        @Localizer["Search"]<br>
        <input name="search" type="text" id="search">
        <small></small>
    </p>
</form>

<div id="resSearch"></div>



<script type="text/javascript">
    $(document).ready(function () {
        go();//initiating the function for the 1st time.
    });

    $(function () {

        $("#search").keyup(function () {
            go();
        });
        return false;
    });

    function go() {
        var search = $("#search").val();
        var jsonText = JSON.stringify({ searchstring: search });
        $.ajax({
            type: "GET",
            url: "/api/search/",
            contentType: "application/json; charset=utf-8",
            data: "searchstring=" + search,
            success: function (response) {
                var fullstring = '<table class="table"><tbody>';
                for (var item in response) {
                    var htmlforview = "<tr><td><a href='/Posts/" + response[item].id + "/'>" + response[item].name + "</a></td><td>" + response[item].creationdate + "</td><td>" + response[item].author + "</td><td><a href='/Blogs/Delete/" + response[item].id + "/'>@Localizer["Delete"]</a></td></tr>"
                    fullstring += htmlforview;
                };
                fullstring += "</tbody></table >";
                $("#resSearch").html(fullstring);
            }
        })
    };
</script>