﻿@model WebApplication1.ViewModels.CreatePostModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Header"]</h2>

<form asp-action="Edit" asp-controller="Posts" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div>
            <label asp-for="Name">@Localizer["InName"]</label><br />
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>
        <div>
            <label asp-for="Text">@Localizer["InText"]</label><br />
            <textarea type="text" asp-for="Text">Text</textarea>
            <span asp-validation-for="Text" />
        </div>
        <div>
            <input type="submit" value="@Localizer["Save"]" />
        </div>
    </div>
</form>