﻿@model IEnumerable<BlogHost.BLL.DTO.PostDTO>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}

<h2>@Localizer["Header"]</h2>
@if (ViewBag.BlogId != null)
{
    <p>
        <a asp-action="Create" asp-route-id="@ViewBag.BlogId">@Localizer["CrPost"]</a>
    </p>
}
else
{
    ViewBag.BlogId = -1;
}
<form id="SearchForm" asp-action="SearchPosts" asp-controller="APISearch" method="get" name="form" onsubmit="return false;">
    <p>
        @Localizer["Search"]<br>
        <input name="search" type="text" id="search">
        <small></small>
    </p>
</form>

<div id="resSearch"></div>




<script type="text/javascript">
    $(document).ready(function () {
        go();//initiating the function for the 1st time.
    });

    $(function () {

        $("#search").keyup(function () {
            go();
        });
        return false;
    });

    function go() {
        var search = $("#search").val();
        var jsonText = JSON.stringify({ searchstring: search });
        $.ajax({
            type: "GET",
            url: "/api/searchposts/",
            contentType: "application/json; charset=utf-8",
            data: "searchstring=" + search + "&blogid=" + @ViewBag.BlogId,
            success: function (response) {
                    var fullstring = '<table class="table"><tbody>';
                for (var item in response) {
                        var htmlforview = "<tr><td><a href='/Posts/info/" + response[item].id + "/'>" + response[item].name + "</a></td><td>" + response[item].creationdate + "</td><td>" + response[item].author + "</td><td><a href='/Posts/delete/" + response[item].id + "/'>@Localizer["Delete"]</a></td><td><a href='/Posts/edit/" + response[item].id + "/'>@Localizer["Edit"]</a></td></tr>"
                    fullstring += htmlforview;
                    };
                    fullstring += "</tbody></table >";
                $("#resSearch").html(fullstring);
                }
            })
    };
</script>