﻿@model WebApplication1.ViewModels.CreateCommentsModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Info";
}

<h2>@ViewData["PostsName"]</h2>

<p>
    @ViewData["PostsText"]
</p>

<form asp-action="Info" asp-controller="Posts" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Text">@Localizer["CommText"]</label>
            <textarea type="text" asp-for="Text"> </textarea>
            <span asp-validation-for="Text" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["BtnComm"]" class="btn" />
        </div>
    </div>
</form>

@await Component.InvokeAsync("CommentsComponents", new { id = @ViewData["PostsId"] })