﻿@model WebApplication1.ViewModels.LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Header"]</h2>

<a asp-action="Register" asp-controller="Account">@Localizer["Register"]</a>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div>
        <div class="form-group">
            <label asp-for="Email">@Localizer["InputEm"]</label>
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" />
        </div>
        <div class="form-group">
            <label asp-for="Password">@Localizer["InputPass"]</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="@Localizer["ButtLog"]" class="btn" />
        </div>
    </div>
</form>