﻿@model WebApplication1.ViewModels.RegisterModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h2>@Localizer["Header"]</h2>

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All" />
    <div>
        <div>
            <label asp-for="Email">@Localizer["Email"]</label><br />
            <input type="text" asp-for="Email" />
            <span asp-validation-for="Email" style="color:crimson"></span>
        </div>
        <div>
            <label asp-for="Login">@Localizer["Login"]</label><br />
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" style="color:crimson"></span>
        </div>
        <div>
            <label asp-for="Password">@Localizer["Password"]</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" style="color:crimson"></span>
        </div>
        <div>
            <label asp-for="ConfirmPassword">@Localizer["RePass"]</label><br />
            <input asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword" style="color:crimson"></span>
        </div>
        <div>
            <input type="submit" value="@Localizer["ButtReg"]" class="btn" />
        </div>
    </div>
</form>