﻿@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Authentication;
@inject IViewLocalizer Localizer



<h2>@Localizer["Header"]</h2>

<div id="inputForm">
    <input type="text" id="message" />
    <input type="button" id="sendBtn" value="@Localizer["Btn"]" />
</div>
<table class="table">
    <tbody id="chatroom"></tbody>
</table>

<script src="~/js/signalr.min.js"></script>

<script>
    const hubConnection = new signalR.HubConnectionBuilder().withUrl("/commentsHub").build();

    hubConnection.on("Send", function (data, date, user) {

        let elem = document.createElement("tr");
        let elem2 = document.createElement("td");
        let elem3 = document.createElement("td");
        let elem4 = document.createElement("td");
        elem2.appendChild(document.createTextNode(data));
        elem3.appendChild(document.createTextNode(date));
        elem4.appendChild(document.createTextNode(user));
        elem.appendChild(elem2);
        elem.appendChild(elem3);
        elem.appendChild(elem4);
        let firstElem = document.getElementById("chatroom").firstChild;
        document.getElementById("chatroom").insertBefore(elem, firstElem);

    });

    document.getElementById("sendBtn").addEventListener("click", function (e) {
        let message = document.getElementById("message").value;
        let user = "@User.Identity.Name";
        hubConnection.invoke("Send", message, user);
    });

    hubConnection.start();
</script>