﻿@model IEnumerable<WebApplication1.ViewModels.ViewCommentsModel>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{
    ViewData["Title"] = "Default";
}

<h3>@Localizer["Header"]</h3>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <show-comment com=item></show-comment>
        }
    </tbody>
</table>